.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0db8de;
}
form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

.login-form{
    width: 380px;
    height: 450px;
    margin: 20px;
    background: #1a2226 !important;
    opacity: 0.8;
    border-radius: 10px !important;
}

input[type="email"],
input[type="password"] {
    /* background: #1a2226; */
    border: 2px solid #0db8de;
    border-radius: 10px;
    margin-bottom: 25px;
}

.card-title{
    font-weight: 900;
    padding-top: 20px;
}

.boutton{
    background: #0db8de !important;
    font-size: 14px;
    transform: translateY(10px);  
    border-radius: 10px !important;
}
.signup{
    text-align: centre;
    padding-top: 25px;
}
footer{
    background-color: #333;
    padding: 20px 0 40px ;
    color: white;
}
.connexion{
    background: url(images/p5ba5w.jpeg) no-repeat ;
    width: 100%;
    height: 100vh;
    background-size: cover;
}