




.logo{
    width: 100px;
    height: 50px;
}

.image{
     width: 100%; 
    height: 360px;
} 
.slider{
    padding-top: 20px;
}

.about{
     display: flex;
     text-justify: auto;
}
.d-flex{
    float: left;
}
.lock{
    
    margin: 0 !important;
    padding: 20px;
  
  
  
}
.card{
    width: 400px;
    height: 150px;
    margin: 20px;
}


footer{
    background-color: #333;
    padding: 20px 0 40px ;
    color: white;
}
.connexion{
    background: url(images/p5ba5w.jpeg) no-repeat ;
    width: 100%;
    height: 100vh;
    background-size: cover;
    
}
.formulaire{
    width: 500px;
    display: flex;
    background-color: #47a0ff;
    border-radius: 10px;
    color: #fff;
    padding-top: 50px;
    text-align: center;
    
}
